@import '../utilities/variables.scss';

// !NAV ---------------------------------------------------------------------
// --------------------------------------------------------------------------
.nav-wrap {
	cursor: pointer;
	height: 45px;
	position: absolute;
	right: $spacingSmall;
	top: $spacingSmall;
	width: 35px;
	z-index: 3;

	transform: rotate(0deg);
	transition: .25s ease-in-out;

	.no-touchevents &:hover {
		.nav-bar {
			height: 3px;
		}
	}

	&.is-active .nav-bar:nth-child(1) {
		top: 18px;
		width: 0%;
		left: 50%;
	}

	&.is-active .nav-bar:nth-child(2) {
		transform: rotate(45deg);
	}

	&.is-active .nav-bar:nth-child(3) {
		transform: rotate(-45deg);
	}

	&.is-active .nav-bar:nth-child(4) {
		top: 18px;
		width: 0%;
		left: 50%;
	}
}

.nav-bar {
	display: block;
	position: absolute;
	height: 2px;
	width: 100%;
	background: $red;
	border-radius: 9px;
	opacity: 1;
	left: 0;
	
	transform: rotate(0deg);
	transition: .25s ease-in-out;

	&:nth-child(1) {
		top: 0px;
	}

	&:nth-child(2),
	&:nth-child(3) {
		top: 9px;
	}

	&:nth-child(4) {
		top: 18px;
	}
}