// !COLORS ------------------------------------------------------------------
// --------------------------------------------------------------------------
$white: #ffffff;
$black: #000000;
$gray: #808080;
$offWhite: #f5f6f7;
$brown: #3A2A29;
$blue: #29313A;
$darkBlue: #2A293A;
$red: #FF5733;

// !SPACING -----------------------------------------------------------------
// --------------------------------------------------------------------------
$spacingLarge: 50px;
$spacingSmall: 25px;

// !SIZES -------------------------------------------------------------------
// --------------------------------------------------------------------------
$iconSmall: 50px;
$iconLarge: 75px;
$maxWidth: 950px;


// !BREAKPOINTS -------------------------------------------------------------
// --------------------------------------------------------------------------
$breakSmall: 600px;
$breakMed: 900px;
