// !COLORS ------------------------------------------------------------------
// --------------------------------------------------------------------------
$white: #ffffff;
$black: #000000;
$gray: #808080;
$offWhite: #f5f6f7;

// !SPACING -----------------------------------------------------------------
// --------------------------------------------------------------------------
$spacingLarge: 50px;
$spacingSmall: 25px;


// !BREAKPOINTS -------------------------------------------------------------
// --------------------------------------------------------------------------