@import '../utilities/variables.scss';

// !HOME --------------------------------------------------------------------
// --------------------------------------------------------------------------
.home-wrap {
	position: relative;
}

.home-panel--full {
	align-items: center;
	background: url('../../../imgs/fpo/fpo-bkg.jpg') no-repeat top center;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: relative;
	text-align: center;

	&:before {
		background-color: $black;
		content: '';
		height: 100vh;
		opacity: 0.2;
		position: absolute;
		width: 100%;

	}
}

.home-panel__content {
	bottom: $spacingSmall;
	padding: 0 $spacingLarge;
	position: absolute;
}

.home-panel__headline {
	color: $white;
	font-family: 'Fjalla One', sans-serif;
	font-size: 2rem;
	margin-bottom: $spacingSmall;
}