@import '../utilities/variables.scss';

// !SECTION -----------------------------------------------------------------
// --------------------------------------------------------------------------
.work-page__headline {
	color: $white;
	font-family: 'Fjalla One', sans-serif;
	margin-bottom: $spacingLarge;
	text-align: center;
}

.work-page__sub-headline-small {
	color: $red;
	font-family: 'Cantarell', sans-serif;
	font-weight: 700;
	margin: 0 0 $spacingSmall;
}

.role {
	display: block;

	+.role {
		margin-top: 10px;
	}
}

.role__blurb {
	margin: $spacingLarge 0;
	width: 250px;
}

.work-page__blurb {
	max-width: 400px;
	width: 100%;
}

.work-page__sub-headline {
	color: $red;
	font-family: 'Cantarell', sans-serif;
	font-weight: 700;
	margin-top: $spacingLarge;
}

// !IMAGES ------------------------------------------------------------------
// --------------------------------------------------------------------------

.work-page__hero {
	display: block;
	max-width: 400px;
	width: 100%;
}

.work-page__hero-mobile {
	bottom: -15px;
	position: absolute;
	right: 0;
	width: 25%;
}


// !WRAPPERS ----------------------------------------------------------------
// --------------------------------------------------------------------------
.work-page {
	background-color: $darkBlue;
	padding: $spacingLarge 0;
}

.work-page-wrap--large { 
	background-color: $offWhite;
	margin: 0 auto;
	padding: $spacingSmall;
	max-width: 500px;
	width: 80%;

	@media(min-width: 1000px) {
		margin: 0;
		max-width: inherit;
		padding: $spacingLarge;
		width: inherit;
	}
}

.work-page-wrap--small {
	background-color: $offWhite;
	margin: $spacingLarge auto 0;
	max-width: 400px;
	padding: $spacingSmall;
	width: 80%;

	@media(min-width: 1000px) {
		align-self: flex-start;
		margin: 0;
		max-width: inherit;
		padding: $spacingLarge;
		width: inherit;
	}
}

.work-page__inner-wrap {
	@media(min-width: 1000px) {
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		max-width: $maxWidth;
	}
}

.work-page__hero-wrap {
	max-width: 400px;
	position: relative;
}