@import "utilities/variables.scss";

/* Utilities */
@import "utilities/variables.css";
@import "utilities/normalize.css";
@import "utilities/utilities.css";

/* Objects */

* {
	-webkit-overflow-scrolling: touch
}

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}


a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}



//REMOVE!!!!!!
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
