@import "utilities/variables.scss";

/* Utilities */
@import "utilities/variables.css";
@import "utilities/normalize.css";
@import "utilities/utilities.css";

/* Pages */
@import "pages/home.css";

/* Atoms */
@import "atoms/basicButton.css";

* {
	-webkit-overflow-scrolling: touch
}

html {
	box-sizing: border-box;
	height: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}


a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}