@import '../utilities/variables.scss';

// !ABOUT ME ----------------------------------------------------------------
// --------------------------------------------------------------------------
.about-me-section-wrap {
	max-width: $maxWidth;

	@media(min-width: $breakMed) {
		align-self: center;
		display: flex;
		justify-content: space-around;
	}
}

.about-me-wrap {
	display: flex;
	flex-direction: column;
	padding: $spacingLarge 0;
	justify-content: center;
	text-align: center;
}

.about-me-headline {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.9rem;
	margin: 0;
}

.about-me-secondary-headline {
	font-family: 'Cantarell', sans-serif;
	font-weight: 700;
	font-size: 1.3rem;
	margin: 10px 0 $spacingLarge;
}