@import '../utilities/variables.scss';

// !HOME CONTACT ------------------------------------------------------------
// --------------------------------------------------------------------------
.home-contact-wrap {
	align-items: center;
	background-color: $blue;
	border-bottom: 2px solid $darkBlue;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: $spacingLarge 0;
}

.home-contact-headline {
	color: $white;
	margin: 0;
}

.home-contact__blurb {
	color: $white;
	margin: $spacingLarge auto;
	max-width: 300px;
	text-align: center;
}