@import '../utilities/variables.scss';

// !NAV LAYOUT --------------------------------------------------------------
// --------------------------------------------------------------------------
.header {
	pointer-events: none;
	position: fixed;
	top:$spacingSmall;
	width: 100%;
	z-index: 5;
}

.logo {
	height: $iconLarge;
	pointer-events: all;
	position: relative;
	width: $iconLarge;
	z-index: 3;
}